body {
    position: relative;
}

#loadMoreBtn:disabled {
    background-color: #c1c1c1;
    cursor: not-allowed;
}

#loadMoreBtn.hidden {
    display: none;
}

#loadMoreBtn {
    position: absolute;
    bottom: -40px;
    display: block;
    left: 50%;
    right: 40%;

}

input,
button {
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
}

input[type="submit"],
#loadMoreBtn {
    border: none;
    background-color: rgba(45, 45, 233, 0.731);
    color: white;
    cursor: pointer;
}


.photo-card {
    margin: 20px;
    max-width: 270px;
    box-shadow: 11px 10px 5px -8px rgba(168,158,168,1);
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.info {
    display: flex;
    font-size: 13px;
    gap: 12px;
    margin: 0 10px;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.photo {
    height: 100%;
    width: 100%;
    width: 270px;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
}

.gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery__item {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  
  .photo:hover {
    transform: scale(1.03);
  }
  
  .gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  
  .gallery__link:hover {
    cursor: zoom-in;
  }